{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block content %} 
{% if cart|length > 0 %}
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Produit</th>
        <th scope="col">Quantity</th>
        <th scope="col">Prix</th>
        <th scope="col">total</th>
        <td></td>
    </tr>
  </thead>
  <tbody>
 
  
    {% set total = null %}
    {% for product in cart %}
  
        <tr>
            <th><img src="/uploads/{{product.product.illustration}}" alt="" height="75px"></th>
            <td>{{product.product.name}}</td>
            <td>
              <a href="{{ path('decrease_to_cart', {'id' : product.product.id})}}">
                <img src="{{ asset('assets/images/moins.png')}}" alt="" height="16px">  
              </a>
              {{product.quantity}}
              <a href="{{ path('add_to_cart', {'id' : product.product.id})}}">
                <img src="{{ asset('assets/images/plus.png')}}" alt="" height="16px">  
              </a>
            </td>
            <td>{{ (product.product.prix / 100)|number_format(2,',','.') }}</td>
            <td>{{((product.product.prix * product.quantity) / 100 ) | number_format(2,',','.')}}</td>
            <td> 
                <a href="{{path('delete_to_cart', {'id' : product.product.id})}}"><img src="{{ asset('assets/images/trash.png')}}" alt="" height="20px"></a>
            </td>
        </tr>
        {% set total = total + (product.product.prix * product.quantity) %}
    {% endfor %}

  </tbody>
</table>


<p> total panier : {{ (total / 100 ) | number_format(2,',','.')}}</p>
<a href="#" class="btn btn-success btn-block">valider le panier</a>
{% else %}
    <p>panier vide</p>
{% endif %}

{% endblock %}
