{% extends 'base.html.twig' %}

{% block content %}

<div class="home-content">
    <header>
        <div>
            <p>Élevez votre style avec nos costumes d'exception, où l'élégance rencontre la perfection.</p>
        </div>
        <div>
            <img src="{{ asset('/assets/images/home.jpg') }}" alt="">
        </div>
    </header>
    <main>
        <section>
            {% for product in products %}
            <ul>
                <li><img src="/uploads/{{ product.illustration }}" alt=""></li>
                <a href="{{ path('product', {'slug':product.slug})}}"> {{product.name}}</a>
                <li>{{ product.subtitle }}</li>
                <li>{{ product.description }}</li>
                <li>{{ (product.prix / 100)|number_format(2,',','.') }}€</li>
            </ul>
                
            {% endfor %}
        </section>
    </main>
    
<div>
{% endblock %}